body {
  font-family: "Poppins", sans-serif;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.payment-container {
  background: white;
  width: 400px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #2d7a2d;
}

.summary-box {
  background: #e7f8e7;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: 600;
}

input, textarea, select {
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

textarea {
  resize: none;
  height: 70px;
}

.placeOrderBtn {
  margin-top: 15px;
  background: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.placeOrderBtn:hover {
  background: #1d7e34;
}

.delivery-info {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  color: #333;
}
.addedPopup{
    /* position: absolute;
    color: white;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: rgba(0, 0, 255, 0.566);
    max-width:120px;
    padding: 10px 30px;
    font-size: 7px;
    border-radius: 20px; */
    animation: popupAnimation 0.6s ease-in-out ;
}

@keyframes popupAnimation {
    from{
        margin-top: -400px;
    }
    to{
        margin-top: 5px;
    }
}