body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
}

.register-container {
    width: 380px;
    background: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 30px;
    text-align: center;
}

.register-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    color: #555;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

.btn {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #007bff;
}

.login-link {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

select{
    margin-bottom: 10px;
    padding: 10px 10px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    box-shadow:  0 0 1px 1px rgba(0, 0, 0, 0.329);
    outline: none;
    width: 400px;
}
option{
    font-weight: 700;
    border-radius: 10px;
    border: none;
    box-shadow:  0 0 3px 3px rgba(0, 0, 0, 0.329);
    outline: none;
}